<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title><center>All Teams</center></ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-list>
            <ion-item button detail (click)="detailpage(t)" *ngFor="let t of teams.teams">
                    <ion-thumbnail slot="start">
                    <img src="{{ t.strTeamBadge }}">
                    </ion-thumbnail>
                    <ion-label>{{ t.strTeam }}</ion-label>
            </ion-item> 
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" [routerLink]="['/favorite']">
            <ion-icon name="heart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>