<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <center>Result</center>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-list>
        <ion-item *ngFor="let l of last.events">            
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <div><center>{{ l.strHomeTeam }}</center></div>
                    </ion-col>
                    <ion-col size="4">
                        <div *ngIf="+l.intHomeScore > +l.intAwayScore">
                            <center>
                            <ion-badge color="success">{{ l.intHomeScore }}</ion-badge>
                            vs
                            <ion-badge color="danger">{{ l.intAwayScore }}</ion-badge>
                            </center>
                        </div>
                        <div *ngIf="+l.intHomeScore < +l.intAwayScore">
                            <center>
                            <ion-badge color="danger">{{ l.intHomeScore }}</ion-badge>
                            vs
                            <ion-badge color="success">{{ l.intAwayScore }}</ion-badge>
                            </center>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div><center>{{ l.strAwayTeam }}</center></div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text><small><center>{{l.dateEvent|date:'dd MMM yyyy'}}</center></small></ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>